.admin-container {
    display: flex;

    .admin-sidebar {
        .pro-sidebar {
            height: 100vh;
        }
    }

    .admin-content {
        width: 100%;

        .admin-header {
            margin-left: 1%;

            .side-toggle {
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        // .admin-main {}
    }
}